&adc1 {
    status = "okay";
    st,adc-prescaler = <4>;
    pinctrl-0 = <&adc1_in1_pa1 &adc1_in4_pa4 &adc1_in8_pb0>;
    pinctrl-names = "default";
};

// &pinctrl {
//     adc1_in1_pa1: adc1_in1_pa1 {
//         pinmux = STM32_PINMUX('A', 1, ANALOG);
//     };

//     adc1_in4_pa4: adc1_in4_pa4 {
//         pinmux = STM32_PINMUX('A', 4, ANALOG);
//     };

//     adc1_in8_pb0: adc1_in8_pb0 {
//         pinmux = STM32_PINMUX('B', 0, ANALOG);
//     };
// };